body {
    background-color: #ffe6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
    padding: 3%;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6e6;
}

.container {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    position: relative;
}

    h1 {
    text-align: center;
    color: #ff4d4d;
}

h2 {
    text-align: center;
}

h4 {
    text-align: justify;
}

footer {
    margin: 0;
    background-color: #ffe6e6;
    text-align: center;
    font-size: 18px;
}

/* Bottons made by kosedagyazilim */
/* https://uiverse.io/profile/kosedagyazilim */

.button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #fcaaf8, #fa62f2);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #fa62f2;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #fa62f2;
}

.button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #fcaaf8, #a545ff);
}

.buttonsContainer {
    display: flex; /* Muestra los botones en línea horizontalmente */
    justify-content: center; /* Centra los botones horizontalmente */
    flex-wrap: wrap; /* Permite que los botones se envuelvan en una nueva línea cuando no caben en el ancho del contenedor */
}